@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --color-background: #1e1e2e;
    --color-foreground: #cdd6f4;
    --color-heading: #bac2de;
    --color-links: #b4befe; 
    --color-links-hover: #cba6f7;
    --color-time: #f38ba8;
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: "JetBrains Mono", monospace;
}

.container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.imagey img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.greeting {
    font-size: 2rem;
    color: var(--color-heading);
    margin-bottom: 0px;
    line-height: 1;
}

.time {
    font-size: 1.1rem;
    color: var(--color-links);
    margin-bottom: 0px;
    display: inline-block;
    line-height: 0.5;
    color: var(--color-time);
}

.links-grid {
    display: flex;
    gap: 50px;

}

.category h3 {
    color: var(--color-heading);
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 10px;
}

.category a {
    display: block;
    color: var(--color-links);
    text-decoration: none;
    font-family: "JetBrains Mono", monospace; 
    font-size: 1rem;
    margin-bottom: 3px;
    transition: 0.2s;
}

.category a:hover {
    text-decoration: underline;
    color: var(--color-links-hover);
}

